@model IEnumerable<Quote>

<div class="row">
    <div class="col-md-2">
        <form asp-action="Filter" method="post">
            <div class="mb-3">
                <label class="form-label">Tag:</label>
                <select name="filter" class="form-select"
                        >
                    <option value="all">All</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
            <a asp-action="Index" asp-route-id="" class="btn btn-primary">Clear</a>
        </form>
    </div>
    <div class="col-md-10">

        <form asp-action="" method="post"
              asp-route-id="">

            <table class="table table-bordered table-striped mt-2">
                <thead>
                    <tr>
                        <th>Content</th>
                        <th>Author</th>
                        <th>Likes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Quote quote in Model)
                    {
                        <tr>
                            <td>@quote.Content</td>
                            <td>@quote.Author</td>
                            <td>@quote.Likes</td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
        <form asp-action="DeleteQuote" method="post"
              asp-route-id="">

            <a asp-action="Add" class="btn btn-primary">Add new quote</a>
            <button type="submit" class="btn btn-primary">Delete quote</button>
        </form>
    </div>
</div>
